@charset "UTF-8";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.HeadingText {
  font-family: "DM Mono", monospace;
  font-size: 1.6em;
}

.bröd {
  display: flex;
  text-align: center;
  align-self: center;
  font-family: "DM Sans", sans-serif;
}

.titel1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "DM Mono", monospace;
  font-size: 1.6em;
  padding: 1em;
}

.article1wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 27rem;
  background-color: #b9d09d;
}
.article1wrap .article1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70vw;
  min-height: 23rem;
}

.article2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.article2 .bröd2 {
  display: flex;
  justify-content: space-around;
  width: 70vw;
  align-self: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
}
.article2 .HeadingText {
  margin-bottom: 1em;
}

.bröd, .bröd2 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
}

.wrapPictureWeb {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.wrapPictureWeb .pictureArticle {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -moz-column-gap: 1.2em;
       column-gap: 1.2em;
  row-gap: 1em;
}
.wrapPictureWeb .pictureArticle .bildS {
  width: 10em;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3rem;
}
.wrapPictureWeb .pictureArticle .bildM {
  width: 21.5em;
  height: 10em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.3rem;
}

.last {
  margin-bottom: 4rem;
}

.workForceTitel {
  padding: 2em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.workbody {
  display: flex;
  flex-direction: column;
}
.workbody .workForceMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}
.workbody .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;
  text-align: center;
  padding: 1em;
  width: 70vw;
}
.workbody .cardImgStyle {
  display: flex;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 12em;
  width: 12em;
}
.workbody .namn {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-family: "DM Mono", monospace;
}
.workbody .titelorganizer {
  font-size: large;
  display: flex;
  justify-content: space-around;
  height: 14rem;
  flex-direction: column;
}
.workbody .titelorganizer .title {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
}
.workbody .titelorganizer .title-body {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  .bröd {
    font-family: "DM Sans", sans-serif;
    font-size: large;
  }
  .article1wrap {
    min-height: 15rem;
  }
  .article1wrap .article1 {
    width: 40vw;
    height: 15rem;
  }
  .article2 .bröd2 {
    width: 40vw;
  }
  .wrapPictureWeb .pictureArticle {
    width: 100%;
  }
  .wrapPictureWeb .pictureArticle .bildS {
    height: 20em;
    width: 20em;
  }
  .wrapPictureWeb .pictureArticle .bildM {
    height: 20em;
    width: 41.3em;
  }
  .workbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
  }
  .workbody .card {
    width: 23rem;
  }
  .workbody .desktop {
    margin-bottom: 3rem;
  }
}/*# sourceMappingURL=omoss.css.map */