.body-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 700;
}

.body-regular {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 400;
}

.heading-style {
  font-family: "DM Mono", monospace;
  font-size: 1.6em;
  line-height: 1.2em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.masthead {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(/images/trees-overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1025px) {
  .masthead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
  }
  .masthead .masthead-text {
    height: 20rem;
    margin-top: 10rem;
  }
  .masthead .masthead-text h1 {
    font-size: 66px;
  }
  .masthead .masthead-text h2 {
    font-size: 44px;
    margin-bottom: 2rem;
  }
}

.masthead-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
  height: 13rem;
}
.masthead-text h1,
.masthead-text h2 {
  color: #fff;
  text-shadow: 2px 2px rgb(0, 0, 0);
}
.masthead-text h1 {
  font-size: 2em;
}
.masthead-text h2 {
  font-size: 1.5em;
}

.button {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 700;
  list-style: none;
  text-decoration: none;
  padding: 1rem 5rem;
  text-align: center;
  background: #d99e47;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  outline: none;
  border: none;
  border-radius: 0.3rem;
  color: black;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .button:hover {
    background-color: #955900;
    color: #fff;
  }
}

.fa-arrow-up {
  display: none;
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  cursor: pointer;
}

@media (min-width: 1025px) {
  #arrow {
    display: none;
    visibility: visible;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    cursor: pointer;
  }
}
.article-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 3em;
}
.article-slogan .heading-style {
  width: 23rem;
  text-align: center;
  margin-bottom: 0.5em;
}
.article-slogan .body-regular {
  width: 80vw;
  text-align: center;
}

.article-products {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 27em;
  background: #b9cf9d;
}
@media (min-width: 1025px) {
  .article-products {
    height: 20em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .article-products {
    height: 17em;
  }
}
.article-products .heading-style {
  margin-top: 0.6em;
}
@media (min-width: 1025px) {
  .article-products .heading-style {
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .article-products .heading-style {
    margin-top: 2rem;
  }
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 80%;
  height: 20rem;
}
.product-container a {
  list-style: none;
  text-decoration: none;
  color: black;
}
@media (min-width: 1025px) {
  .product-container {
    width: 60%;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.product .gafflar,
.product .knivar,
.product .skedar {
  -o-object-position: left;
     object-position: left;
}
.product p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 700;
  margin-top: 0.5em;
}

.cutlery {
  height: 7em;
  width: 7em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1025px) {
  .cutlery {
    height: 9em;
    width: 9em;
  }
}

.recension-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .recension-container {
    height: 34em;
    width: 40.375em;
  }
}
.recension-container .heading-style {
  padding: 2em;
  text-align: center;
}
@media (min-width: 1025px) {
  .recension-container .heading-style {
    padding: 0;
    margin-bottom: 0.5em;
  }
}

.recensioner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 20.5rem;
  height: 57vh;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1025px) {
  .recensioner {
    width: 45vw;
    height: 26em;
  }
}
.recensioner .button {
  margin-bottom: 2rem;
}

p.readmore {
  text-align: center;
  margin-bottom: 1em;
}

.rec-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 18vh;
  width: 20.5em;
  background: #b9cf9d;
  margin-bottom: 1.5em;
}
.rec-card .stars {
  font-size: 2em;
}
.rec-card .stars .fa-solid {
  color: #d99e47;
}
.rec-card .stars .fa-regular {
  color: #fff;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
@media (min-width: 1025px) {
  .contact-container {
    height: 34em;
    width: 40.375em;
    order: -1;
  }
}
.contact-container .heading-style {
  padding: 2rem;
}
@media (min-width: 1025px) {
  .contact-container .heading-style {
    padding: 0;
    margin-bottom: 0.5em;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 84vw;
  height: 43vh;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1025px) {
  .contact {
    width: 45vw;
    height: 26em;
  }
}
.contact p.body-regular {
  text-align: center;
  width: 15.625em;
}
.contact a {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-decoration: underline;
}
.contact .contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.5625em;
  width: 19em;
}
.contact .contact-icons .phone-contact {
  text-align: center;
}
.contact .contact-icons .phone-contact i {
  margin-bottom: 0.5em;
  font-size: 2em;
}
.contact .contact-icons .mail-contact {
  text-align: center;
}
.contact .contact-icons .mail-contact i {
  font-size: 2em;
  margin-bottom: 0.5em;
}

i {
  cursor: pointer;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 24vh;
  width: 100vw;
  background: #b9cf9d;
}
.socials .socials-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 84vw;
  height: 8.6vh;
}
.socials .socials-icons i {
  font-size: 2em;
}
@media (min-width: 1025px) {
  .socials .socials-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 34%;
  }
}
.socials .socials-icons .insta-acc,
.socials .socials-icons .tiktok-acc {
  text-align: center;
}
.socials .socials-icons .insta-acc a,
.socials .socials-icons .tiktok-acc a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.socials .socials-icons .insta-acc i,
.socials .socials-icons .tiktok-acc i {
  margin-bottom: 0.5em;
  margin-right: 0.7rem;
}
@media (min-width: 1025px) {
  .socials .socials-icons .insta-acc,
.socials .socials-icons .tiktok-acc {
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .socials .socials-icons .insta-acc i,
.socials .socials-icons .tiktok-acc i {
    margin-top: 0.5em;
  }
}
.socials .heading-style {
  text-align: center;
}

@media (min-width: 1025px) {
  .info-boxes {
    display: flex;
    justify-content: space-around;
  }
}/*# sourceMappingURL=index.css.map */