// COLORS
$primary-green: #67893C;
$secondary-green: #B9CF9D;
$btnhover-dark-green: #3D640C;
$primary-orange: #D99E47; 
$btnhover-dark-orange: #955900; 
$input-border-grey: #c1c1c1;

// FONTS
$heading-font: 'DM Mono', monospace;
$body-font: 'DM Sans', sans-serif;

// FONT SIZES
$heading-font-size: 1.6em;
$body-font-size: 1.2em;
$small-font-size: 1em;
$icon-font-size: 2em;

// LINE HEIGHTS
$body-font-lineheight: 1.4em;

// BORDER RADIUS
$border-radius: .3rem;

// BOX SHADOW
$box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;

// INPUT BORDER
$input-border: .15rem solid $input-border-grey;


@mixin heading-styling {
  font-family: $heading-font;
  font-size: $heading-font-size;
}

@mixin body-text-styling {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-font-lineheight;
}

@mixin small-text-styling {
  font-family: $body-font;
  font-size: $small-font-size;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin radio-button-size($height, $width) {
  height: $height;
  width: $width;
  
}

@mixin for-tablet {
  @media (min-width: 481px) and (max-width: 768px) {
  @content;
  }
}

@mixin for-desktop {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin for-desktop-nav {
  @media (min-width: 900px) {
    @content;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // scroll-behavior: smooth;
}


.top-nav {
  @include flex(row, space-between, center);
  background: $secondary-green;
  color: #fff;  
  padding: 1em;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;
  .logo-horizontal {
    width: 10em;
  }
  #menu-toggle {
    display: none;
  }
}

.menu {
  @include body-text-styling;
  font-weight: 700;
  @include flex(row, flex-start, center);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  @include flex(column, center, center);
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.nav-link {
  @include body-text-styling;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-family: $body-font;

  @include for-desktop-nav {
    color: black;
    &:hover {
      color: #fff;
    }
  }
}
@media (max-width: 900px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 5rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 0.5px solid #fff;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    @include flex(row, center, flex-start);
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: $primary-green;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

// MIN KOD

main {
 @include flex(column, space-around, center);
}

.main-container {
    min-height: 100vh;
    @include flex(column, space-around, center);
    margin: 3%;

    @media (min-width: 1440px){
      width: 75vw;
      
    }

// TOP SECTION //

    .top-content{
      width: 85vw;
      text-align: center;
      font-family: $body-font;
      // @include body-font-lineheight;
      font-weight: bold;

      @media (min-width: 1440px){
        width: 75vw;
      }
      h1{
        font-size: 1.6 em;
        margin-bottom: 5%;
      }
      i, p {
        margin: 4%;
      }
      .contact-info{
        text-decoration: none;
        color: black;
      }

      @media (min-width: 1440px){
         .kontakta{
          height: 10%;
          
         }
          h1{
            font-size: 44px;
        }
          .media{
          
          @include flex(row, center, start);
          
          .phone, .mail, .location{
            @include flex(column, space-evenly, space-between);
            width: 20%;
            height: 20%;
            padding: 3%;
            
            
            font-size: 1.6em;
            margin-bottom: 1%;

          }
          #phone, #mail, #location{
            font-size: 2em;
            cursor: pointer;
            
            padding: 10%;
            
         }
        }
        }
      }

// MIDDLE SECTION //
    .mid-content{
      width: 85vw;
      

      #street-view{
      height: 25vh;
      width: 100%;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      border: none;
      margin-top: 10%;
      margin-bottom: 8%;
      
      }
      
      @media (min-width: 1440px){
        .map{
          #street-view{
          height: 500px;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
      width: 75%;
      }
    }

// BOTTOM SECTION //


    .bot-content{
      @include flex(column, center, center);
      width: 85vw;
      font-family: $body-font;
      box-shadow: $box-shadow;
      border-radius: $border-radius;

      @media (min-width: 1440px){
        margin-top: 2%;
        
      }
      
      // FORMULÄRET // 
      form{
        width: 83%;

        // DESKOP VERSION
        @media (min-width: 1440px){
          
          .form-heading{
            font-size: 1.6em;
          }

          
          // Radiobuttons
          .buy{
            margin-top: 3%;
          }
          
          #buy, #ask, #thoughts{
            width: 32px;
            height: 32px;
          }

          // Etiketter för radiobuttons
          label[for=buy], label[for=ask], label[for=thoughts]{
            font-size: 1.6em;
          }

          // Förälder left och right input
          .media2{
            margin-top: 7%;
            @include flex(row, start, space-between);
            column-gap: 4%;
          

           .left-input, .right-input{
              @include flex(column, center, start);
              
              width: 100%;
              
              .right-input{
                padding-left: 25px;
              }

            }
            .user-name, .user-email{
              margin-top: 0;
              width: 100%;
            }

            #user-name, #user-email, .free-text-input {

              box-sizing: border-box;
              padding-left: 3%;
            }
          margin-top: 10%;
          
          }
        }
        // FORMULÄR DESKTOP ENDS HERE
        
        .media2{


          margin-top: 10%;
          @media (min-width: 1440px){
            margin-top: 1%;

          }
          // background: red;
          
    }
} 

      
   // Rubrik formuläret // 
      
      .form-heading{
         text-align: center;
         font-weight: bold;
         margin: 6%;
         
         @media (min-width: 1440px){
         margin: 2%;
        }
      }

     // Positionering buy, ask och thoughts

      .buy, .ask, .thoughts{
        @include flex(row, flex-start, center);
      }

      #buy, #ask, #thoughts{
      @include radio-button-size(24px, 24px);
       margin: 1.5%;
      }

      label[for=buy], [for=ask], [for=thoughts]{
       margin-left: 10px;
       }

      #user-name, #user-email, #free-text-input{
        
        border: 1px solid rgb(193, 193, 193);
        
        border-radius: $border-radius;
       margin: 3% 0 5% 0;
      
      }
      #user-name, #user-email{
        height: 46px;
        width: 100%;

      }
       #free-text-input{
         height: 205px;
         width: 100%;

       }
     #text-area-label, #user-name-label, #user-email-label{
        font-size: 16px;
        font-family: 'DM Sans', sans-serif;
        font-weight: bold;
        

        @media (min-width: 1440px){
          font-size: 26px;

        }

        
      }

      .terms{
        @include flex(row, flex-start, center);
        margin: 4% 0 5% 0;

      }

      #terms{
       @include radio-button-size(25px, 25px);
       }
      
      label[for=terms]{
        margin-left: 10px;
      }

      // STYLE för checkbox och skicka-knapp

      @media (min-width: 1440px){ 
        .media3{
          @include flex(row, center, center);
          margin-bottom: 10%;
          font-size: 1.2em;
        }

      .terms{
        width: 100%;
      }

      #terms{
        width: 33px;
        height: 33px;
      }

      .btn{
        width: 100%;
      }

    }

    button{
        text-align: center;
        background-color: $primary-orange;
        width: 100%;
        border-radius: $border-radius;
        height: 6vh;
        color: black;
        font-weight: bold;
        border: none;
        margin: 5% 0 40% 0;
        &:before{
        background-color: red};

        @media (min-width: 1440px){
          margin: 10%;
          height: 83px;
          // width: 75%;
          font-size: 1.2em;
          width: 90%;
        }
        }
        
      
}
}

// min kod slutar här //

footer {
  @include flex(column, space-around, center);
  background: $primary-green;
  height: 10rem;
  position: relative;
  bottom: 0;
  color: #fff;

  .insta-acc {
    @include flex(row, center, center);
    font-size: 1em;
    width: 5rem;
    gap: 1rem;
  }

  .footer-nav {
    @include small-text-styling;
    font-weight: 700;
    @include flex(row, space-around, flex-start);
    width: 22.4375em;
    list-style: none;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  .footer-logo {
    @include flex(row, center, center);
    .logo {
      width: 3.5em;
    }
  }
  .footer-copyright {
    @include small-text-styling;
    @include flex(row, space-around, flex-start);
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
    width: 50vw;
  }
}



