.body-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 700;
}

.body-regular {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 400;
}

.heading-style {
  font-family: "DM Mono", monospace;
  font-size: 1.6em;
  line-height: 1.2em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #b9cf9d;
  color: #fff;
  padding: 1em;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;
}
.top-nav .logo-horizontal {
  width: 10em;
}
.top-nav #menu-toggle {
  display: none;
}

.menu {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.nav-link {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-family: "DM Sans", sans-serif;
}
@media (min-width: 901px) {
  .nav-link {
    color: black;
  }
  .nav-link:hover {
    color: #fff;
  }
}

@media (max-width: 900px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 5rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 0.5px solid #fff;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #67893c;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #67893c;
  height: 10rem;
  position: relative;
  bottom: 0;
  color: #fff;
}
footer .insta-acc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  width: 5rem;
  gap: 1rem;
}
footer .footer-nav {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 22.4375em;
  list-style: none;
}
footer .footer-nav a {
  text-decoration: none;
  color: #fff;
}
footer .footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .footer-logo .logo {
  width: 3.5em;
}
footer .footer-copyright {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 0.8em;
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

main {
  min-height: 100vh;
}

.masthead {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(/start/images/trees-overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 1025px) {
  .masthead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .masthead .yolo2 {
    height: 40vh;
    margin-top: 10rem;
  }
  .masthead .yolo2 h1 {
    font-size: 66px;
  }
  .masthead .yolo2 h2 {
    font-size: 44px;
    margin-bottom: 2rem;
  }
}

.yolo2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
  height: 13rem;
}
.yolo2 h1,
.yolo2 h2 {
  color: #fff;
  text-shadow: 2px 2px rgb(0, 0, 0);
}
.yolo2 h1 {
  font-size: 2em;
}
.yolo2 h2 {
  font-size: 1.5em;
}

.button {
  padding: 1rem 5rem;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 700;
  background: #d99e47;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  outline: none;
  border: none;
  border-radius: 0.3rem;
  color: black;
  cursor: pointer;
}
@media (min-width: 1025px) {
  .button:hover {
    background-color: #955900;
    color: #fff;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .button {
    height: 35%;
  }
}

.article-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 3em;
}
.article-slogan .heading-style {
  width: 23rem;
  margin-bottom: 0.5em;
}
.article-slogan .body-regular {
  width: 80vw;
  text-align: center;
}

.article-products {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 27em;
  background: #b9cf9d;
}
@media (min-width: 1025px) {
  .article-products {
    height: 20em;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .article-products {
    height: 17em;
  }
}
.article-products .heading-style {
  margin-top: 0.6em;
}
@media (min-width: 1025px) {
  .article-products .heading-style {
    margin-top: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .article-products .heading-style {
    margin-top: 2rem;
  }
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 80vw;
  height: 40vh;
}
@media (min-width: 1025px) {
  .product-container {
    width: 60%;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}
.product .gafflar,
.product .knivar,
.product .skedar {
  -o-object-position: left;
     object-position: left;
}
.product p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 700;
  margin-top: 0.5em;
}

.cutlery {
  height: 7em;
  width: 7em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1025px) {
  .cutlery {
    height: 9em;
    width: 9em;
  }
}

.recension-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .recension-container {
    height: 34em;
    width: 40.375em;
  }
}
.recension-container .heading-style {
  padding: 2em;
  text-align: center;
}
@media (min-width: 1025px) {
  .recension-container .heading-style {
    padding: 0;
    margin-bottom: 0.5em;
  }
}

.recensioner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 84vw;
  height: 57vh;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1025px) {
  .recensioner {
    width: 45vw;
    height: 26em;
  }
}
.recensioner .button {
  margin-bottom: 1rem;
}

p.readmore {
  text-align: center;
  margin-bottom: 1em;
}

.rec-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 18vh;
  width: 20.5em;
  background: #b9cf9d;
  margin-bottom: 1.5em;
}
.rec-card .stars .fa-solid {
  color: #d99e47;
}
.rec-card .stars .fa-regular {
  color: #fff;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
@media (min-width: 1025px) {
  .contact-container {
    height: 34em;
    width: 40.375em;
    order: -1;
  }
}
.contact-container .heading-style {
  padding: 2em;
}
@media (min-width: 1025px) {
  .contact-container .heading-style {
    padding: 0;
    margin-bottom: 0.5em;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 84vw;
  height: 43vh;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 1025px) {
  .contact {
    width: 45vw;
    height: 26em;
  }
}
.contact p.body-regular {
  text-align: center;
  width: 15.625em;
}
.contact span {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
.contact .contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.5625em;
  width: 19em;
}
.contact .contact-icons p {
  cursor: pointer;
}
.contact .contact-icons .phone-contact {
  text-align: center;
}
.contact .contact-icons .phone-contact i {
  margin-bottom: 0.5em;
}
.contact .contact-icons .mail-contact {
  text-align: center;
}
.contact .contact-icons .mail-contact i {
  margin-bottom: 0.5em;
}

i {
  font-size: 2em;
  cursor: pointer;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 24vh;
  width: 100vw;
  background: #b9cf9d;
}
.socials .socials-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 84vw;
  height: 8.6vh;
}
@media (min-width: 1025px) {
  .socials .socials-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 34%;
  }
}
.socials .socials-icons .insta-acc,
.socials .socials-icons .tiktok-acc {
  text-align: center;
}
.socials .socials-icons .insta-acc i,
.socials .socials-icons .tiktok-acc i {
  margin-bottom: 0.5em;
  margin-right: 0.7rem;
}
@media (min-width: 1025px) {
  .socials .socials-icons .insta-acc,
.socials .socials-icons .tiktok-acc {
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .socials .socials-icons .insta-acc i,
.socials .socials-icons .tiktok-acc i {
    margin-top: 0.5em;
  }
}
.socials .heading-style {
  text-align: center;
}

@media (min-width: 1025px) {
  .yolo {
    display: flex;
    justify-content: space-around;
  }
}/*# sourceMappingURL=startsida.css.map */