

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin heading-style {
  font-family: "DM Mono", monospace;
  font-size: 1.6em;
  line-height: 1.2em;
}

@mixin body-text {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 400;
}

@mixin body-text-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.4em;
  font-weight: 700;
}

@mixin small-font {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
}

@mixin small-font-bold {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
}

@mixin cutlery {
  height: 7em;
  width: 7em;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: $box-shadow;
}

.body-bold {
  @include body-text-bold();
}

.body-regular {
  @include body-text();
}

.heading-style {
  @include heading-style();
}

@mixin for-desktop {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin for-desktop-nav {
  @media (min-width: 770px) {
    @content;
  }
}

@mixin for-tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// COLORS
$primary-green: #67893C;
$secondary-green: #B9CF9D;
$btnhover-dark-green: #3D640C;
$primary-orange: #D99E47; 
$btnhover-dark-orange: #955900; 
$input-border-grey: #c1c1c1;

// FONTS
$heading-font: 'DM Mono', monospace;
$body-font: 'DM Sans', sans-serif;

// FONT SIZES
$heading-font-size: 1.6em;
$body-font-size: 1.2em;
$small-font-size: 1em;
$icon-font-size: 2em;

// LINE HEIGHTS
$body-font-lineheight: 1.4em;

// BORDER RADIUS
$border-radius: .3rem;

// BOX SHADOW
$box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;

// INPUT BORDER
$input-border: .15rem solid $input-border-grey;

$primary-green: #67893c;
$secondary-green: #b9cf9d;
$btnhover-dark-green: #3d640c;
$primary-orange: #d99e47;
$btnhover-dark-orange: #955900;
$footer-vh: 10rem;
$box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
$heading-font-size: 1.6em;
$body-font-size: 1.2em;
$small-font-size: 1em;
$body-font-lineheight: 1.4em;
$border-radius: 0.3rem;


@mixin heading-styling {
  font-family: $heading-font;
  font-size: $heading-font-size;
}

@mixin body-text-styling {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-font-lineheight;
}

@mixin small-text-styling {
  font-family: $body-font;
  font-size: $small-font-size;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin for-desktop-nav {
  @media (min-width: 770px) {
    @content;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.top-nav {
  @include flex(row, space-between, center);
  background: $secondary-green;
  color: #fff;  
  padding: 1em;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;
  .logo-horizontal {
    width: 10em;
  }
  #menu-toggle {
    display: none;
  }
}

.menu {
  @include body-text-styling;
  font-weight: 700;
  @include flex(row, flex-start, center);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  @include flex(column, center, center);
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.nav-link {
  @include body-text-styling;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-family: $body-font;

  @include for-desktop-nav {
    color: black;
    &:hover {
      color: #fff;
    }
  }
}
@media (max-width: 900px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 5rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 0.5px solid #fff;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    @include flex(row, center, flex-start);
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: $primary-green;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

footer {
  @include flex(column, space-around, center);
  background: $primary-green;
  height: 10rem;
  position: relative;
  bottom: 0;
  color: #fff;

  .insta-acc {
    @include flex(row, center, center);
    font-size: 1em;
    width: 5rem;
    gap: 1rem;
  }

  .footer-nav {
    @include small-text-styling;
    @include flex(row, space-around, flex-start);
    width: 22.4375em;
    list-style: none;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  .footer-logo {
    @include flex(row, center, center);
    .logo {
      width: 3.5em;
    }
  }
  .footer-copyright {
    @include small-text-styling;
    @include flex(row, space-around, flex-start);
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
    width: 50vw;
  }
}

main {
  min-height: 100vh;
}

.masthead {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(/start/images/trees-overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @include for-desktop {
    @include flex(column, center, center);
    height: 100vh;
    .yolo2 {
      height: 40vh;
      margin-top: 10rem;
      h1 {
        font-size: 66px;
      }
      h2 {
        font-size: 44px;
        margin-bottom: 2rem;
      }
    }
  }
}

.yolo2 {
  @include flex(column, space-evenly, center);
  margin-bottom: 1rem;
  height: 13rem;
  h1,
  h2 {
    color: #fff;
    text-shadow: 2px 2px rgb(0, 0, 0);
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }
}

.button {
  padding: 1rem 5rem;
  text-align: center;
  @include body-text-bold();
  background: $primary-orange;
  box-shadow: 0px 4px 4px 0px #00000040;
  outline: none;
  border: none;
  border-radius: $border-radius;
  color: black;
  cursor: pointer;

  @include for-desktop {
    &:hover {
      background-color: $btnhover-dark-orange;
      color: #fff;
    }
  }

  @include for-tablet {
    height: 35%;
  }
}

.article-slogan {
  @include flex(column, center, center);
  width: 100vw;
  padding: 3em;
  .heading-style {
    width: 23rem;
    margin-bottom: 0.5em;
  }
  .body-regular {
    width: 80vw;
    text-align: center;
  }
}

.article-products {
  @include flex(column, space-around, center);
  width: 100vw;
  height: 27em;
  background: $secondary-green;
  @include for-desktop {
    height: 20em;
  }
  @include for-tablet {
    height: 17em;
  }
  .heading-style {
    margin-top: 0.6em;
    @include for-desktop {
      margin-top: 2rem;
    }
    @include for-tablet {
      margin-top: 2rem;
    }
  }
}

.product-container {
  @include flex(row, space-around, center);
  justify-content: space-around;
  flex-flow: row wrap;
  width: 80vw;
  height: 40vh;

  @include for-desktop {
    width: 60%;
  }
}

.product {
  @include flex(column, space-between, center);
  height: fit-content;
  .gafflar,
  .knivar,
  .skedar {
    object-position: left;
  }
  p {
    @include body-text-bold();
    margin-top: 0.5em;
  }
  cursor: pointer;
}

.cutlery {
  @include cutlery();

  @include for-desktop {
    height: 9em;
    width: 9em;
  }
}

.recension-container {
  @include flex(column, center, center);

  @include for-desktop {
    height: 34em;
    width: 40.375em;
  }
  .heading-style {
    padding: 2em;
    text-align: center;

    @include for-desktop {
      padding: 0;
      margin-bottom: 0.5em;
    }
  }
}

.recensioner {
  @include flex(column, flex-start, center);
  width: 84vw;
  height: 57vh;
  box-shadow: $box-shadow;

  @include for-desktop {
    width: 45vw;
    height: 26em;
  }
  .button {
    margin-bottom: 1rem;
  }
}

p.readmore {
  text-align: center;
  margin-bottom: 1em;
}

.rec-card {
  @include flex(column, space-evenly, center);
  height: 18vh;
  width: 20.5em;
  background: $secondary-green;
  margin-bottom: 1.5em;
  .stars {
    .fa-solid {
      color: #d99e47;
    }
    .fa-regular {
      color: #fff;
    }
  }
}

.contact-container {
  @include flex(column, center, center);
  margin-bottom: 3em;

  @include for-desktop {
    height: 34em;
    width: 40.375em;
    order: -1;
  }
  .heading-style {
    padding: 2em;
    @include for-desktop {
      padding: 0;
      margin-bottom: 0.5em;
    }
  }
}

.contact {
  @include flex(column, space-evenly, center);
  width: 84vw;
  height: 43vh;
  box-shadow: $box-shadow;

  @include for-desktop {
    width: 45vw;
    height: 26em;
  }
  p.body-regular {
    text-align: center;
    width: 15.625em;
  }
  span {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }
  .contact-icons {
    @include flex(row, space-between, center);
    height: 4.5625em;
    width: 19em;
    p {
      cursor: pointer;
    }
    .phone-contact {
      text-align: center;
      i {
        margin-bottom: 0.5em;
      }
    }
    .mail-contact {
      text-align: center;
      i {
        margin-bottom: 0.5em;
      }
    }
  }
}

i {
  font-size: 2em;
  cursor: pointer;
}

.socials {
  @include flex(column, space-evenly, center);
  height: 24vh;
  width: 100vw;
  background: $secondary-green;
  .socials-icons {
    @include flex(row, space-around, center);
    width: 84vw;
    height: 8.6vh;
    @include for-desktop {
      @include flex(row, space-between, center);
      width: 34%;
    }
    .insta-acc,
    .tiktok-acc {
      text-align: center;
      i {
        margin-bottom: 0.5em;
        margin-right: 0.7rem;
      }
      @include for-desktop {
        width: 12em;
        @include flex(row, center, center);
        i {
          margin-top: 0.5em;
        }
      }
    }
  }
  .heading-style {
    text-align: center;
  }
}

@media (min-width: 1025px) {
  .yolo {
    display: flex;
    justify-content: space-around;
  }
}


