$background-header: #B9CF9D;
$background-footer: #67893C;

@mixin padding($padding) {
    padding: $padding;
}

@mixin margin($margin) {
    margin: $margin;
}

* {
    @include padding(0);
    @include margin(0);
}

main {
    min-height: 100vh;
}

header {
    height: 10vh;
    background: #B9CF9D;
}

.masthead {
    height: 35vh;
    background: $background-header;
}

footer {
    height: 10vh;
    background: $background-footer;
    position: relative;
    height: 10vh;
    bottom: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}