// COLORS
$primary-green: #67893C;
$secondary-green: #B9CF9D;
$btnhover-dark-green: #3D640C;
$primary-orange: #D99E47; 
$btnhover-dark-orange: #955900; 
$input-border-grey: #c1c1c1;

// FONTS
$heading-font: 'DM Mono', monospace;
$body-font: 'DM Sans', sans-serif;

// FONT SIZES
$heading-font-size: 1.6em;
$body-font-size: 1.2em;
$small-font-size: 1em;
$icon-font-size: 2em;

// LINE HEIGHTS
$body-font-lineheight: 1.4em;

// BORDER RADIUS
$border-radius: .3rem;

// BOX SHADOW
$box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;

// INPUT BORDER
$input-border: .15rem solid $input-border-grey;


@mixin heading-styling {
  font-family: $heading-font;
  font-size: $heading-font-size;
}

@mixin body-text-styling {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-font-lineheight;
}

@mixin small-text-styling {
  font-family: $body-font;
  font-size: $small-font-size;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin for-tablet {
  @media (min-width: 481px) and (max-width: 768px) {
  @content;
  }
}

@mixin for-desktop {
  @media (min-width: 769px) {
    @content;
  }
}

@mixin for-desktop-nav {
  @media (min-width: 900px) {
    @content;
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.top-nav {
  @include flex(row, space-between, center);
  background: $secondary-green;
  color: #fff;  
  padding: 1em;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px;
  .logo-horizontal {
    width: 10em;
  }
  #menu-toggle {
    display: none;
  }
}

.menu {
  @include body-text-styling;
  font-weight: 700;
  @include flex(row, flex-start, center);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  @include flex(column, center, center);
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.nav-link {
  @include body-text-styling;
  outline: none;
  text-decoration: none;
  color: #fff;
  font-family: $body-font;

  @include for-desktop-nav {
    color: black;
    &:hover {
      color: #fff;
    }
  }
}
@media (max-width: 900px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 5rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 0.5px solid #fff;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    @include flex(row, center, flex-start);
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: $primary-green;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

footer {
  @include flex(column, space-around, center);
  background: $primary-green;
  height: 10rem;
  position: relative;
  bottom: 0;
  color: #fff;

  .insta-acc {
    @include flex(row, center, center);
    font-size: 1em;
    width: 5rem;
    gap: 1rem;
  }

  .footer-nav {
    @include small-text-styling;
    font-weight: 700;
    @include flex(row, space-around, flex-start);
    width: 22.4375em;
    list-style: none;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  .footer-logo {
    @include flex(row, center, center);
    .logo {
      width: 3.5em;
    }
  }
  .footer-copyright {
    @include small-text-styling;
    @include flex(row, space-around, flex-start);
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
    width: 50vw;
  }
}


//-----------------------------------



@mixin heading-styling {
  font-family: $heading-font;
  font-size: $heading-font-size;
}

@mixin body-text-styling {
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-font-lineheight;
}

@mixin small-text-styling {
  font-family: $body-font;
  font-size: $small-font-size;
}

@mixin for-tablet {
  @media (min-width: 481px) and (max-width: 768px) {
  @content;
}
}

@mixin for-desktop {
  @media (min-width: 769px) {
    @content;
  }
}

// Text styling rules

.bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.small-body {
  @include small-text-styling;
}

.body-text {
  @include body-text-styling;
}

.btn {
  @include body-text-styling;
  font-weight: 700;
  border-radius: $border-radius;
  border: none;
}

.input {
  border-radius: $border-radius;
  border: .15rem solid $input-border-grey;
  outline: none;
  font-size: $heading-font-size;
}


main {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.heading {
  @include heading-styling;
}

.cover {
  margin-top: 2rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover-img {
  width: 95vw;
  height: 25vh;
  margin-top: 1rem;
  object-fit: cover;
  border-radius: $border-radius;

  @include for-tablet {
    height: 45vh;
  }

  @include for-desktop {
    height: 60vh;
  }
}

.item-nav {
  background-color: $primary-orange;
  margin-top: 2rem;
  width: 100vw;
  
  ul {
    padding: 1rem;
    display: flex;
    list-style-type: none;
  }
  
  li a {
    @include small-text-styling;
    padding: 1rem;
    text-decoration: none;
    color: black;
  }
  
  li a:hover {
  background-color: $btnhover-dark-orange;
  color: white;
  }

  .active {
    background-color: $btnhover-dark-orange;
    color: white;
  }

}

.product-group {

  @include for-desktop {
    display: flex;
    gap: 2rem;
  }
}

.product {
  width: 90vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include for-desktop {
    width: 45vw;
  }
}

.space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-img {
  width: 100%;
  height: 30%;
  object-fit: cover;
  border-radius: $border-radius;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include for-tablet {
    height: 35%;
  }

  @include for-desktop {
    height: 40%;
  }
}

.margin-top {
  margin-top: 1rem;
}

.product-buy {
  display: flex; 
  justify-content: space-between;
  margin-top: 1rem; 
  margin-bottom: 1rem; 
  width: 100%;
  gap: .5rem;
}

.quantity {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 30%;
}

.price {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 1rem;
}

.quantity-input {
  padding: .5rem;
  padding-top: 1rem;
  text-align: right;
}

.green {
  background: $primary-green;
  color: white;
  padding: 1rem 5rem;
  width: 100%;
}

.green:hover {
  background: $btnhover-dark-green;
}